<footer class="shared footer py-5">
  <div class="container">
    <div class="row pb-4">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h4 class="fs-6 fw-500 mb-2">{{ .Site.Title }}</h4>
        <p class="small mb-0">{{ .Site.Params.description }}</p>
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-500 mb-3" style="color: #c5dedd; font-size: 0.7rem; letter-spacing: 0.08em; text-transform: uppercase;">Navigation</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
            <li class="mb-1">
              <a class="small text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-500 mb-3" style="color: #c5dedd; font-size: 0.7rem; letter-spacing: 0.08em; text-transform: uppercase;">Location</h5>
        <ul class="list-unstyled">
          {{ range .Site.Params.location }}
            <li class="mb-2">
              <p class="small m-0">{{ . }}</p>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-500 mb-3" style="color: #c5dedd; font-size: 0.7rem; letter-spacing: 0.08em; text-transform: uppercase;">Contact</h5>
        {{ range .Site.Params.contact }}
          <p class="small mb-1">
            {{- if .url -}}
              <a href="{{ safe.URL .url }}">{{ .content }}</a>
            {{- else -}}
              {{ . }}
            {{- end -}}
          </p>
        {{ end }}
      </div>
    </div>
    <div class="row" style="border-top: 1px solid #1a3432; padding-top: 1.25rem;">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-center mb-0" style="color: #2d6a65;">{{ . | safeHTML }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
